.page404__heading {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 22vh;
}
.message404 {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 26px;
}